nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
    font-weight: 600;
    background-color: #f05136;
    ;
}

nav ul li {
    margin: 0 20px;
}

.logo-text {
    font-size: 3em;
    font-weight: 600;
    color: white;
}